html {
    /* background-color: #0d0f14; */
    background-color: transparent;
    --highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}

#title {
    text-align: center;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.sites {
    text-align: center;
}



.livre {
    text-align: center;
}

p {
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
}


#deroulant {
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.extreme-down,
.streamdeouf,
.dopebox,
.bloom-streaming,
.zone-telechargement,
.cpasbien,
.torrent9,
.yggtorrent,
.torrentz2,
.oxtorrent,
.thepiratebay,
.wawacity,
.emule-island,
.rarbg,
.yts,
.untroistroiseptx,
.opensubtitles,
.soap2day,
.ninedocu {
    /* display: block; */
    height: 50px;
    width: auto;
    margin: 10px;
    /* border: 10px solid transparent; */
    text-decoration: none;
}

.extreme-down>img:hover,
.streamdeouf>img:hover,
.dopebox>img:hover,
.bloom-streaming>img:hover,
.zone-telechargement>img:hover,
.cpasbien>img:hover,
.torrent9>img:hover,
.yggtorrent>img:hover,
.torrentz2>img:hover,
.oxtorrent>img:hover,
.thepiratebay>img:hover,
.wawacity>img:hover,
.emule-island>img:hover,
.rarbg>img:hover,
.yts>img:hover,
.untroistroiseptx>img:hover,
.opensubtitles>img:hover,
.soap2day>img:hover
.ninedocu>img:hover {
    
    box-shadow: 0px 0px 50px rgb(119, 119, 119);
    background-color: rgba(119, 119, 119,0.3);
}

.totaldebrid {
    /* display: block; */
    height: 50px;
    width: auto;
    margin: 10px;
    /* border: 10px solid transparent; */
    text-decoration: none;
}

.totaldebrid>img:hover {
        box-shadow: 0px 0px 50px rgb(119, 119, 119);
        background-color: rgba(119, 119, 119,0.3);
}


.deepl,
.nperf,
.yt4k,
.yt5s,
.savetube,
.ytzoopid,
.reverso,
.linksys,
.awesome,
.getintopc {
    /* display: block; */
    height: 50px;
    width: auto;
    margin: 10px;
    /* border: 10px solid transparent; */
    text-decoration: none;
}

.icone>img:hover {
    
    box-shadow: 0px 0px 50px rgb(119, 119, 119);
    background-color: rgba(119, 119, 119,0.3);
}

img {
    /* display: block; */
    height: 50px;
    width: auto;
    margin: 10px;
    /* border: 10px solid transparent; */
    text-decoration: none;
}